mat-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: none;

  a{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: black;
  }
  .btnLogin{
    font-size: 17px;
    color: white;
    background-color: #ff9800;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
  }
}