<mat-card class="home-card">
  <mat-card-header class="hero">
    <mat-card-title>
      🎢 Bienvenue au Parc d'Attractions
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="cardInfos">
      <h2>Parc d'attraction c'est...</h2>
      <div class="infosImg">
        <div class="infos">
          <p>Un max de sensations folles</p>
          <p>De multiples attractions</p>
          <p>Des journées inoubliables</p>
        </div>
        <div class="imgParc"></div>
      </div>
      <div class="chiffres">
        <div class="cardInfosParc">
          <div class="text">
            <h3>10</h3>
            <p>Attractions</p>
          </div>
        </div>
        <div class="cardInfosParc">
          <div class="text">
            <h3>+5000</h3>
            <p>visiteurs/jours</p>
          </div>
        </div>
        <div class="cardInfosParc">
          <div class="text">
            <h3>+50</h3>
            <p>évènements spéciaux</p>
          </div>
        </div>
      </div>
    </div>
    <div class="attractions-grid">
      <mat-card
        class="attraction-card"
        *ngFor="let attraction of attractions | async"
      >
        <mat-card-content>
          <h3>{{ attraction.nom }}</h3>

          <p class="description">
            {{ attraction.description }}
          </p>

          <div class="difficulty">
            <span>Difficulté</span>

            <div class="dots">
              <span
                *ngFor="let dot of [1,2,3,4,5]"
                [class.active]="dot <= attraction.difficulte"
              ></span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>